.yith-pt-post-container {
    width: 300px !important;
    height: 300px !important;
    padding: 40px 40px 55px 40px !important;
    margin: 20px !important;
    background-color: white;
    border-radius: 7px;
    -webkit-box-shadow: 0px 11px 23px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 11px 23px 1px rgba(0,0,0,0.35);
    box-shadow: 0px 11px 23px 1px rgba(0,0,0,0.35);
}

.yith-pt-post-container-photo {
    display: inline-block;
    width: max-content;
}

.yith-pt-post-title {
    display: inline-block !important;
    vertical-align: bottom;  
    margin-bottom: 28px;  
    margin-left: 10px;
}

img {
    width: 55px;
    border-radius: 35px;
    margin: 0 !important;
}

p {
    margin-bottom: 0;
}

.yith-pt-post-title p {
    font-size: 16px;
    font-weight: bold;
}

.yith-pt-post-content p {
    font-size: 14px;
    line-height: 1.8;
}

.zoom {
    padding: 50px;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.highlight {
    border: 1px solid lightblue;
}

.entry-content {
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
}

@media (min-width: 576px) and (max-width: 767px) { 
    .entry-content {
        grid-template-columns: repeat(1,auto) !important;
    }

}

@media (min-width: 768px) and (max-width: 991px) { 
    .entry-content {
        grid-template-columns: repeat(2,auto) !important;
    }
}

