.yith-pt-post-container {
    width: 320px !important;
    height: 320px !important;
    padding: 40px 40px 55px 40px !important;
    margin: 20px !important;
    background-color: white;
    border-radius: 7px;
    -webkit-box-shadow: 0px 11px 23px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 11px 23px 1px rgba(0,0,0,0.35);
    box-shadow: 0px 11px 23px 1px rgba(0,0,0,0.35);
}

.yith-pt-post-container-photo {
    display: inline-block;
    width: max-content;
}

.yith-pt-post-title {
    display: inline-block !important;
    vertical-align: bottom;  
    margin-bottom: 28px;  
    margin-left: 10px;
}

img {
    width: 65px;
    border-radius: 35px;
    margin: 0 !important;
    position: relative;
    bottom: 25px;
}

p {
    margin-bottom: 0;
}

.clean {
    visibility: hidden;
}

.rating {
    text-align: center;
    position: relative;
    bottom: 20px;
}

.star-color {
    color: rgb(243, 197, 82);
    font-size: 14px;
}

.star-no-color {
    color: rgb(219, 217, 217);
    font-size: 14px;
}

.vip {
    border: 1px solid yellow;
}

.badge {
    position: relative;
    bottom: 20px;
    text-align: -webkit-right;
    position: relative;
    left: 20px;
}

.badge-text {
    background-color: rgb(58, 238, 154);
    color: white;
    width: max-content;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
}

.yith-pt-role-and-company {
    font-weight: 100 !important;
    color: slategray;
    font-size: 12px !important;
}

.yith-pt-post-container a {
    color: rgb(0, 132, 184);
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

.yith-pt-post-title p {
    font-size: 16px;
    font-weight: bold;
}

.yith-pt-post-content p {
    font-size: 14px;
    line-height: 1.8;
}

.yith-pt-vote {
    position: relative !important;
    top: 50px !important;
}

.zoom {
    padding: 50px;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
.zoom:hover {
    transform: scale(1.2); /* (120% zoom) */
}

.highlight {
    border: 1px solid lightblue;
}

.entry-content {
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
}

@media (min-width: 576px) and (max-width: 767px) { 
    .entry-content {
        grid-template-columns: repeat(1,auto) !important;
    }

}

@media (min-width: 768px) and (max-width: 991px) { 
    .entry-content {
        grid-template-columns: repeat(2,auto) !important;
    }
}

